
@{
    Layout = null;
}
<link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
<h3>Muhtarlik Bilgi Sistemi-Önemlimekanlar</h3>

<br />
<table class="table table-bordered">
    <tr>

        <th>Adı:</th>
        <th>Yapı Tipi:</th>

    </tr>
    <tr>
        <td>Malatya müzesi</td>
        <td>Betonn</td>
    </tr>
</table>
<button class="btn btn-success">yeni Kategori</button>
<button class="btn btn-danger"> Kategori listesi</button>